
*{
    box-sizing:border-box ;
}

body {
    font-family: Arial, sans-serif;
    font: weight 400px;;

}
header{
    color:white;
    text-align: left;
    background-color:#808080;
    padding:25px;
    
    
}

.navbar ul{
   list-style-type: none;
   background-color: white;
   padding: 0px;
   margin: 0;
   overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    color:white;
    background-color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
#HOME{
    color:white;
    background-color: black;
    text-decoration: none;
    padding: px;
    display: block;
    text-align: center;
    margin-right: 0px;


}

.navbar li{
    background-color:white;
    float: left;
    
}

#search{
    color:black;
}



.status{
    background-color: lightgray;
    padding: 10px;
}
.status ul{
    list-style-type: none;
    background-color:  lightgray;
    padding: 0px;
    margin: 0;
    overflow: hidden;
 }
 .status a{
     color: black;
     text-decoration: none;
     padding: 15px;
     display: block;
     text-align: center;
 }
 
 
 .status li{
     background-color:lightgray;
     float: left;
     
 }
 
#NEWS{
    padding:10 px;
    margin-left:10px;
}
.css1{
   margin-left: 10px;
   width: 300px;
  
}






footer{
    color:black;
    text-align: center;
    background-color:grey;
    padding:25px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    height:500px;
    padding:12px;
    display: grid;
}

.gallery{
    display: grid;
    gap:20px;
    color:white;
    grid-template-columns: 500px 300px 300px 304px;
    grid-template-rows:auto auto ;

}
.box{
    border-radius: 5px;
    background-size: cover;
    background-blend-mode:hard-light;
}
#box1{
    grid-row-start:1 ;
    grid-row-end:3 ;
}
   
#box2{
    grid-row-start:1 ;
    grid-row-end:3 ;

}
#box3{
    grid-row-start:1 ;
    grid-row-end:2 ;

}
#box4{
    grid-row-start:2 ;
    grid-row-end:3 ;

}



.tag{
    background-color:black;
    height:10px;
    width: 40px;
    text-align: center;
    
}






.choice{
   
    height:70px;
    justify-content: left}

.choice ul{
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0;
    overflow:hidden;
    float: center;
    align-self: center;
 }
 .choice a{
     color: black;
     text-decoration: none;
     padding: 20px;
     width: 150px;
     display: block;
     text-align: center;
 }
 .choice a:hover{
     color:white;
     background-color: black;
     text-decoration: none;
     padding: 20px;
     display: block;
     text-align: center;
 
 }
 
 .choice li{
     background-color:white;
     float: left;
     
 }
 #nav2{
    width: 300px;
    border: 1px solid black;
 }
#LATEST{color:white;
    background-color: black;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;

}





 .scroll{
    height: 400px;
    
    gap:10px;
    overflow-y: auto;
    scrollbar-color: 0px;
  
 }

 .scroll::-webkit-scrollbar{
    width: 0;
 }
 .scroll .item{
    width: auto;
    height: 100px;
    
    line-height:center;
    text-align: center;
    background-color:whitesmoke;
    margin-top: 10px;
    border-radius: 5px;
}
.scroll .item:hover{
    box-shadow:2px 2px 2px 1px rgb(0 0 0 / 20%) ;
}

.scrollimg{
    border: 1px solid black;
    height: 90px;
    width: 90px;
    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
    float: left;
    background-size: cover;
    background-blend-mode:hard-light;
    float: left;
}

.scrollhead{
    margin: 1px;
    padding: 10px;
    display: inline-block;
    /* border: 1px solid black; */
    color: black;
    width: 200px;
    position: relative;
    text-align: left;

}
.scrolldate{
    margin: 1px;
    padding: 10px;
    display: inline-block;
    /* border: 1px solid black; */
    color: rgb(96, 96, 96);
    width: 200px;
    position: relative;
    text-align: left;
    bottom: 10px;

}



#boxtext1{
    padding: 20px;
    margin: 20px;
    padding: 10px;
    margin:10px;
    position: relative;
    top:300px;
    left: 25px;

}
#boxtext2{
    padding: 10px;
    margin: 10px;
    padding: 10px;
    margin:10px;
    position: relative;
    top:300px;
    left: 25px;

}
#boxtext3{
    padding: 20px;
    margin: 3px;
   
    position: relative;
    top:110px;
    left: 25px;

}
#boxtext4{
    padding: 20px;
  position: relative;
  top:110px;
  left: 25px;


}





#searchbtn{
    text-align:center;
    margin: 1px;
    padding: 1px;
    float:right;
    position: relative;
    left: 750px;
    top: 5px;


}
#bolt{
    text-align:center;
    margin: 1px;
    padding: 1px;
}

#cloud{
    float: left;
}

.weatherdate{
    width: 200px;
}
#weatherbar{
    left: 850px;
    position: relative;
}
   


